<div class="training-new">
 <h2>トレーニング編集</h2>
 <% if current_user.id == 1 %>
 <%= form_with model:@training, local:true do |f| %>
  <h5>
   トレーニング名
  </h5>
  <%= f.text_field :title,size: "40x20" %><br><br>
  <h5>
   説明
  </h5>
  <%= f.text_area :content,size: "40x10" %><br><br>
  <%= f.attachment_field :image %><br><br>
  <%= f.submit "変更を保存",class:"btn btn-success" %>
 <% end %>
 <% else %>
  権限がありません。
 <% end %>
</div>
