<div class="trainings-index">
 <h2>トレーニング一覧</h2>
 <table class="table table-striped">
   <tr>
     <th>
       トレーニング画像
     </th>
     <th>
       トレーニング名
     </th>
     <th>
       説明
     </th>
     <th></th>
   </tr>
   <% @trainings.each do |training| %>
   <tr>
     <th width="25">
      <div class="training-index-image">
       <%= attachment_image_tag training, :image, fallback: "no_image.jpg" %>
      </div>
     </th>
     <th width="25%">
     <h4>
      <%= training.title %>
     </h4>
     </th>
     <th width="30%">
     <h4>
      <%= training.content %>
     </h4>
     </th>
     <th>
    <% if current_user.id == 1 %>
     <%= link_to "編集", edit_training_path(training),class: "btn btn-success" %>
    <% end %>
     </th>
    <% end %>
   </tr>
 </table>
 <div class="paginate">
  <%= paginate @trainings %>
 </div>
</div>


