<div class="training-new">
 <h2>トレーニング追加</h2>
 <% if current_user.id == 2 %>
  <%= form_with model: @training, local:true do |f| %>
   <h5>画像</h5>
    <%= f.attachment_field :image %>
   <h5>トレーニング名</h5>
    <%= f.text_field :title, size: "60x20" %>
   <h5>説明</h5>
   <%= f.text_area :content, size: "40x10" %><br><br>
  <%= f.submit '投稿',class:"btn btn-success" %>
 <% end %>
 <% else %>
  権限がありません。
 <% end %>
</div>
