<h1> <%= @user.name %>さんのマイページ</h1>
<%= attachment_image_tag @user, :profile_image, :size =>'120x100', fallback: "no_image.jpg"%>
<% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
<h4>投稿した掲示板タイトル</h4>
<p><% @bbs_titles.each do |bbs_title| %>
 <%= link_to bbs_title_path(bbs_title.id) do %>
  <%= attachment_image_tag bbs_title, :image %>
  <%= bbs_title.title %>
 <% end %>
 </p>
 <%= paginate @bbs_titles %>
<% end %>