<h3><%= @bbs_title.title%></h3>
<%= attachment_image_tag @bbs_title, :image %>
<p><%= @bbs_title.user.name %>さんの投稿</p>
<p><%= @bbs_title.created_at.strftime('%Y/%m/%d') %>に投稿されました！</p>
<% if @bbs_title.user == current_user %>
 <%= button_to "削除", bbs_title_path(@bbs_title), method: :delete %>
<% end %>

<%= @bbs_title.bbs_comments.count %>件のコメントがついています</p>
 <p><% @bbs_title.bbs_comments.each do |bbs_comment| %>
   <%= bbs_comment.user.name %>さんからのコメント
   <%= bbs_comment.created_at.strftime('%Y/%m/%d') %>
   <%= bbs_comment.comment %></p>
  <% end %>

<%= form_with(model:[@bbs_title,@bbs_comment], local:true) do |f| %>
<%= f.text_area :comment, rows:'5', placeholder:"コメントを書く" %>
<%= f.submit "送信する" %>
<% end %>