<div class="bbs-introduction">
 <%= attachment_image_tag @bbs_title, :image, fallback: "no_image.jpg" %><br><br>
  <p><h3><%= @bbs_title.title %></h3></p>
  <p><%= @bbs_title.user.name %>さんの投稿</p>
  <p><%= @bbs_title.created_at.strftime('%Y/%m/%d') %></p>
   <% if @bbs_title.user == current_user %>
    <%= button_to "削除", bbs_title_path(@bbs_title), method: :delete, class:"btn btn-danger" %><br>
  <% end %>
   <h4><%= @bbs_title.bbs_comments.count %>件のコメントがついています！</h4><br>
</div>

<div class="bbs-table">
 <table class="table table-striped">
  <thead>
  <tr>
   <th width="70%">
    返信コメント
   </th>
   <th>
    返信者
   </th>
   <th>
   </th>
  </tr>
 </thead>
 <% @bbs_title.bbs_comments.each do |bbs_comment| %>
 <tbody>
  <tr>
   <th width="70%">
    <h5>
     <%= bbs_comment.comment %>
    </h5>
   </th>
   <th>
    <h6>
     <%= bbs_comment.user.name %>
    </h6>
   </th>
   <th>
    <% if bbs_comment.user == current_user %>
     <%= button_to "削除", bbs_title_bbs_comment_path(bbs_comment.bbs_title, bbs_comment), method: :delete, class:"btn btn-danger" %></p>
    <% else %>
     <%= bbs_comment.created_at.strftime('%Y/%m/%d') %>
    <% end %>
   </th>
  </tr>
 </tbody>
 <% end %>
</table>
</div>


<div class="bbs-comment">
 <%= form_with(model:[@bbs_title,@bbs_comment], local:true) do |f| %>
  <%= f.text_area :comment, size: "40x10", placeholder:"コメントを書く" %><br><br>
  <%= f.submit "送信する", class:"btn btn-success" %>
 <% end %>
</div>

